body {
    background: black;
}

#road {
    display : block;
    margin : auto;
    background-image: url("image/road.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position : 0px 0px;
    border : 2px solid white;
    z-index: 1;
}

  #road {
    animation-duration: 2s;
    animation-name: roadSlide;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes roadSlide {
     from {
      background-position : 0px 0px;
    }
    to {
     background-position : 0px 400px;
    }
  }

#car {
  width: 100px;
}